* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #110;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	text-align: center;
	height: 100%;
}

.how-to-use {
	color: #dddd;
	width: min(400px, 85vw);
	margin-block: 24px;
	border: 1px solid #afc;
	border-radius: 8px;
	padding: 8px;
}
.date-card {
	width: min(340px, 85vw);
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 4px #aaa5;
	padding: 20px;
	border-radius: 8px;
}

input {
	border-radius: 4px;
	color: #110;
	background-color: #ddd;
	outline: none;
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 8px;
}

input::placeholder {
	color: #110;
}

input:focus {
	border-bottom-color: #acf;
	filter: drop-shadow(0 0 4px #acf);
}

label {
	font-size: 14px;
	color: #ddd;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 4px;
}
